body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: azure;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }



  /* Nav css */

  .nav-bar {
    background-color: #3498db;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-bar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .nav-bar a:hover {
    text-decoration: underline;
  }
  
  body {
    margin: 0;
  }
  
  /* Make the navigation bar span the full width */
  .nav-bar {
    width: 100%;
    
  }
  
  
  




  nav {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #e0e0e0;
  }
  
  h4 {
    margin-left: 10px;
    color: #1f1f1f;
  }
  
  /* Style for logout link */
  nav a[onclick] {
    cursor: pointer;
    color: #c0392b; /* Red color for logout */
  }
  
  nav a[onclick]:hover {
    background-color: #e74c3c; /* Darker red on hover */
  }
  